@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #e8d9ed; */
  background-color: #f5e5f2;
}


body {
  display: flex;
  flex-direction: column;
  padding: 14px;
  min-height: 100vh;
  color: #5b2a86;
  gap: 14px;

  position: relative;
}

.hamburger-menu{
  display: none;
}

.nav-bar,
main {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.nav-bar a {
  color: inherit;
  text-decoration: none;
}

.nav-bar {
  padding: 14px 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Serif", serif;
}

.nav-bar ul{
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.nav-bar li{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  cursor: pointer;
}

.nav-bar li:hover{
  transform: scale(1.1);
  color: #EA738DFF;
}

.hire-me-button{
  position: relative;
  box-shadow: 0 0 0 #fec1958c;
  transition: all .3s ease-in-out;
}

.sparkle-1{
  height: 15px;
  width: 15px;
  position: absolute;
  top: 30%;
  left: 20%;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.sparkle-2{
  height: 15px;
  width: 15px;
  position: absolute;
  bottom: 30%;
  right: 20%;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.hire-me-button:hover {
  background: transparent;
  border: transparent;
  box-shadow: 0 0 25px #fec1958c;
}

.hire-me-button:hover .sparkle-1{
  position: absolute;
  top: -70%;
  left: -25%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.hire-me-button:hover .sparkle-2{
  position: absolute;
  bottom: -70%;
  right: -25%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.home-page{
  margin-top: 30px;
}

.codepic-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.codepic-container img{
  width: 300px;
  height: auto;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

figure{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.profile-pic-caption{
  font-size: 12px;
  text-align: center;
  align-self: center;
}

.code-block{
  border: 1px solid;
  width: 70%;
  border-color: #5b2a86;
  overflow: hidden;
  border-radius: 10px; 
}

.code{
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #EA738DFF;
  padding: 10px;
}

.code p{
  margin-bottom:15px;
}

.function-header span, .dream_roles-line, .print-stmt-1, .press-button-line{
  color: #1787d7;
}

.dream_roles-line, .print-stmt-1, .press-button-line{
  margin-left: 20px;
}

.generate-job{
  display: flex;
  align-items: center;
  padding: 10px;
}

.job-btn {
  align-items: center;
  appearance: none;
  background-color: #F1F3FFFF;
  border-radius: 8px;
  border-width: 2px;
  border-color: #EA738DFF;
  box-shadow: rgba(254, 83, 225, 0.2) 0px 2px 4px, rgba(254, 83, 225, 0.2) 0 7px 13px -3px, #ffc3d9 0 -3px 0 inset;
  box-sizing: border-box;
  color: #EA738DFF;
  cursor: pointer;
  display: inline-flex;
  font-family: "Source Code Pro", serif;
  height: 50px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.text-btn{
  background-color: #F1F3FFFF;
  font-size: 17px;
}

.job-btn:focus {
  outline: none;
  box-shadow: #ffb6c1 0 0 0 1.5px inset, rgba(255, 182, 193, 0.4) 0 2px 4px, rgba(255, 182, 193, 0.3) 0 7px 13px -3px, #ffb6c1 0 -3px 0 inset;
}

.job-btn:hover {
  box-shadow: rgba(255, 182, 193, 0.3) 0 4px 8px, rgba(255, 182, 193, 0.2) 0 7px 13px -3px, #ffb6c1 0 -3px 0 inset;
  transform: translateY(-2px);
}

.job-btn:active {
  box-shadow: #ffb6c1 0 3px 7px inset;
  transform: translateY(2px);
}

.print-stmt-1, .profile-pic-caption{
  color: #b968d2;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
  font-size: 18px;
}

.profile-pic-caption{
  font-size: 12px;
}

.intro-line {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 30px;                /*///// CHECK THIS /////*/
  color: #47126b;
}

.introduction{
  width: 70%;
  margin-top: 50px;
}

.page-heading{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: #47126b;
  margin-bottom: 20px;
}

.intro-para{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 20px;
  margin-top: 15px;
  color: #b968d2;
}

.contact-block{
  margin-top: 20px;
}

.contact-block img{
  height: 45px;
  width: 45px;
  /* border: 1px solid black; */
}

.mail {
  -webkit-animation: jump 3s infinite;
  -moz-animation: jump 3s infinite;
  animation: jump 3s infinite;
  animation-delay: 0s; 
  position: relative;
}

.github {
  -webkit-animation: jump 3s infinite;
  -moz-animation: jump 3s infinite;
  animation: jump 3s infinite;
  animation-delay: 0.75s; 
  position: relative;
}

.linkedin {
  -webkit-animation: jump 3s infinite;
  -moz-animation: jump 3s infinite;
  animation: jump 3s infinite;
  animation-delay: 1.5s;
  position: relative;
}

.cv-view{
  -webkit-animation: jump 3s infinite;
  -moz-animation: jump 3s infinite;
  animation: jump 3s infinite;
  animation-delay: 2.25s;
  position: relative;
}

@keyframes jump {
  0%, 33.33% { bottom: 0px; } 
  16.66% { bottom: 10px; } 
  50%, 100% { bottom: 0px; }
}

.postsContainer, .projectsContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 14px;
  margin-top: 30px;
}

.postCard, .projectCard {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 14px;
  box-shadow: rgba(255, 182, 193, 0.3) 0 4px 8px, rgba(255, 182, 193, 0.2) 0 7px 13px -3px;
  border-radius: 14px;
  height: 100%;
  border: 1px solid;
  transition-duration: 200ms;
  border-color: #5b2a86;
}

.postCard:hover, .projectCard:hover {
  box-shadow: 0 0 12px 4px rgba(130, 84, 187, 0.5), 0 0 24px 8px rgba(130, 84, 187, 0.3);
  border-color: rgba(130, 84, 187, 0.5);
}

.postCard>p, .projectCard>p {
  flex: 1;
  color: #475569;
}

.post-title, .project-title{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 24px;
  color: #47126b;
}

.post-description, .project-description{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.post-category, .project-category{
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #AB4BF1 !important;
  border: 1px solid transparent;
  padding: 1px 8px;
  background-color: #e2d8f6;
  border-radius: 8px;
  width: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;

  font-size: 15px;                /*///// CHECK THIS /////*/
}

.posts-page, .projects-page{
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.category-btn{
  font-family: "Source Code Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #AB4BF1 !important;
  border: 1px solid transparent;
  padding: 1px 8px;
  background-color: #e2d8f6;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;

  font-size: 15px;                /*///// CHECK THIS /////*/
}

.category-btn:hover{
  border: 1px solid #AB4BF1;
}

.statsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 14px;
}

.unstyled {
  color: inherit;
  text-decoration: none;
}

.hire-me-form{
  display: flex;
  margin:0 auto;
  margin-top: 50px;
  max-width: 800px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  justify-items: flex-end;
  padding: 20px 0px;
}

form{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 40%;
}

input, textarea{
  padding: 10px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 3px solid #dbccf8;
  min-width: 250px
}

input:focus, textarea:focus{
  border-bottom: 3px solid #ba63f9;
}

textarea{
  height: 120px;
}

.submitbutton{
  padding: 10px 20px;
  width: 50%;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 3px 3px 1px 1px pink, 3px 3px 1px 2px rgba(0,0,0,1);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.hire-me-p{
  margin-top: 10px;
  color: #b968d2;
}

.submitbutton:hover{
  background: #dbccf8;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,1);
}

.result-form{
  color: #b968d2;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}

article div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

article div ul {
  list-style-position: inside;
}

article{
  line-height: 1.8;
}

article h1,
article h2,
article h3{
  font-family: "Noto Serif", serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings:"wdth" 100;
}

article h1{
  font-size: 2.0rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  color: #47126b;
}

article h2{
  font-size: 1.7rem;
  color: #6c3f8f;
  margin-top: 15px;
}

article h3{
  font-size: 1.4rem;
  color: #8c65a3;
  margin-top: 8px;
}

article p,
article li{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #12366b;
} 

article p{
  margin-bottom: 8px;
  text-align: justify;
}

article p strong, article li strong {
  color: #1a5aa6;
  font-weight: bold;
}

article em {
  font-style: italic;
  color: #666;
}

article ul,
article ol{
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 16px;
}

article ul li{
  margin-bottom: 5px;
  list-style-type: disc;
}

article ul ul li {
  list-style-type: circle;
  margin-top: 5px;
}

article a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

article a:hover {
  text-decoration: underline;
}

article img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
}

article video {
  display: block;
  margin: 20px 0;
  max-width: 100%;
  border-radius: 8px;
}

footer {
  padding: 25px 0px;
  font-family: "Noto Serif", serif;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%);
  max-width: 800px;
}

@media (min-width: 640px) {
  body {
    padding: 24px;
    gap: 24px;
  }

  .postsContainer, .projectsContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  .postCard, .projectCard {
    padding: 24px;
  }
}

@media (max-width: 639px) {
  body {
    padding: 24px;
    gap: 24px;
  }

  main{
    margin-bottom: 30px;
  }

  .options{
    display: none !important;
    border: 1px solid black;
  }

  .hamburger-menu{
    display: block;
  }

  .codepic-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .codepic-container img, figcaption{
    display: none;
  }

  .code-block, .introduction{
    width:100%;
  }

  .generate-job{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .print-stmt-1{
    margin: 0px;
    margin-top: 10px;
  }

  .intro-line {
    font-size: 25px;
    margin-top: 0;
  }

  .intro-para{
    font-size: 18px;
  }

  .introduction{
    margin-top: 30px;
  }

  .page-heading{
    font-size: 24px;
  }

  .postsContainer, .projectsContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  .projectCategories, .postCategories{
    display: flex;
  }

  .postCard, .projectCard {
    padding: 24px;
  }

  .post-title, .project-title{
    font-size: 20px;
  }
  
  .post-description, .project-description{
    font-size: 16px;
  }

  .hire-me-form{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:0px;
    width: 100%;
    gap: 30px;
  }

  input, textarea, .submitbutton{
    font-size: 17px;
  }

  .hireme-sidetext h2{
    font-size: 24px;
  }

  .hireme-sidetext p{
    font-size: 18px;
  }

  form{
    margin-left: 0;
    width: 100%;
  }

  .hire-me-button{
    position: relative;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
  }
  
  .sparkle-1{
    height: 15px;
    width: 15px;
    position: absolute;
    top: 30%;
    left: 20%;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .sparkle-2{
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: 30%;
    right: 20%;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .hire-me-button:hover {
    background: transparent;
    border: transparent;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  .hire-me-button:hover .sparkle-1{
    position: absolute;
    top: -40%;
    left: -25%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .hire-me-button:hover .sparkle-2{
    position: absolute;
    bottom: -40%;
    right: -25%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  article h1{
    font-size: 1.7rem;
  }
  
  article h2{
    font-size: 1.4rem;
  }
  
  article h3{
    font-size: 1.2rem;
  }
  
  article p,
  article li{
    font-size: 17px;
  } 

  article ul{
    /* border: 1px solid black; */
    margin-left: 0px;
  }


  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 70px;
    right: 30px;
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1000;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;  
    list-style: none;
    background-color:  #f5e5f2;  
    transition-duration: .25s;
    z-index: 500;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    transition-duration: .25s;
  }

  .menu__item:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #EA738DFF;
  }
}